 body {
     background-color: white; 
     font-family: tahoma;
 }
 
 /* Navbar container */
 .navbar {
    overflow: hidden;
    background-color: #49274A;
    font-family: tahoma;
  }


  /* Style the links inside the navbar */
  .navbar a {
    float: left; /*the nav-bar will be positioned to the left*/
    display: block; /*make sure the display default of html is blocked = there will automatically be added a margin around it if it does not occupy the entire horizontal space. */
    color: black; /*the link text in the navbar is black*/
    padding: 14px 16px; /*make the size og e.g. 'home'-link the same size as the other. If this is not here, the link would like different than the others*/
    text-decoration: none; /*the links are not underlined as default*/
    font-size: 17px;
  }
  
  /* Style the "active" element to highlight the current page */
.navbar a.active {
    background-color: #94618E; /*the background color for 'home' is different*/
    color: white; /*the text is white*/
}
  /* The dropdown container */
  .dropdown {
    float: left; /*the dropdown menu is positioned to the left*/
    overflow: hidden; /*the default is 'visible'. The overflow is clipped, and rest of content would be invisble*/
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    color: white;
    padding: 14px 16px; /*the same padding size as in the '.navbar a' rules above*/
    background-color: inherit; /*this means that the links e.g. 'men' is the same background color as the rest of the navbar*/
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a background color to navbar links (e.g. 'men') on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd; 
    color: black;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links (e.g. 'boots') on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 