ul.products li {
    width: 370px; /* adjust the size of the catalog block */
    display: inline-block; /* this creates the catalog effect */
    text-align: center; /* align the image to center */
    background-color: white; /* background color of each */
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; /* rounded borders effect */
    border: 2px solid #585858; /* border and color */
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /*changes the text to underlined when the mouse is on the text*/
}
